

body{
    /*background-color: hsl(321, 100%, 85%);
    background-image: url(/Images/OYYV3475.PNG);*/
    background:
    linear-gradient(
      hsla(321, 100%, 85%, 0.808),
      hsla(321, 100%, 85%, 0.952)
    ),
    url("/Images/SAXM2126.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: hsl(0, 98%, 48%);
    text-shadow: 0 4px 15px hsla(343, 76%, 68%, 0.726);
    margin: 0.5em 0;
}

h2{
    font-family: 'dancing script', cursive;
    text-align: center;
    font-size: 3em;
    color: hsla(0, 90%, 46%, 0.973);
    text-shadow: 0 4px 15px hsla(0, 76%, 84%, 0.701);
    margin: 0.5em 0;
}
p{
    font-family: 'playfair display', serif;
    text-align: center;
    font-size: 1em;
    color: hsla(0, 90%, 46%, 0.973);
    margin: 0.5em 0;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.yes-wrapper {
  display: inline-block; /* lets YES grow independently */
}

.btnyes{
    padding: 10px 20px;
    font-size: 1em ;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
.btnyes:hover{
    background-color: hsla(0, 100%, 60%, 0.475);
    color: white;
}
.btnno{
    padding: 10px 20px;
    font-size: 1em ;
    border: none;
    border-radius: 30px;
    flex: 0 0 auto;
    cursor: pointer;
    transition: left 0.3s ease, top 0.3s ease;
    position: relative;
    
}
.btnno:hover{
    background-color: hsla(0, 100%, 60%, 0.475);
    color: white;
}

